//---------------------------------------------
//
//  Colors:
//
//    1. Primary
//    2. Neutral & black/white
//
//---------------------------------------------

//---------------------------------------------
// 1. Primary
//---------------------------------------------

$primary: #A00709;
$primary-100: #B22426;

//---------------------------------------------
// 2. Neutral & black/white
//---------------------------------------------

$white: #FFFFFF;
$neutral-100: #F9F9F9;
$neutral-200: #F8F8F8;
$neutral-300: #EDEDED;
$neutral-400: #CBCBCC;
$neutral-500: rgba(255, 255, 255, 0.5);
$neutral-600: rgba(255, 255, 255, 0.15);
$black-100: rgba(0, 0, 0, 0.1);
$black-200: rgba(0, 0, 0, 0.2);
$black-900: rgba(0, 0, 0, 0.9);
$black-bg: #060B17;
$black: #000000;
