//---------------------------------------------
//
//  Variables
//
//    1. Bootstrap Font Family Base
//    2. Custom variables
//
//---------------------------------------------

//---------------------------------------------
// 1. Bootstrap Font Family Base
//---------------------------------------------

$font-family-sans-serif: 'Red Hat Display', BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

//---------------------------------------------
// 2. Custom variables
//---------------------------------------------

$navbar-height: rem-calc(100);
$navbar-mobile-height: rem-calc(70);
